<%- include('../layout/layout-start', {title: title}) %>
<%- include('../layout/menu') %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Ошибка!</h1>
        <p><%- title %></p>
        <a href="/books" class="btn btn-outline-secondary me-md-2">
            ← Вернуться назад
        </a>
    </div>
</div>

<%- include('../layout/layout-end') %>